@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", "Courier New", Courier, monospace;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-primary);
    color: var(--color-text-item);
    font-family: var(--font-primary);
}

body {
    overflow-x: hidden;
}

.module {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}
