.dashboard-module__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--dashboard-gap);
    padding: var(--dashboard-padding);
    height: 100vh;
    width: 100vw;
    align-items: start;
    align-content: start;
}
