.weather {
    padding: var(--weather-padding);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-bg-card);
    grid-column: span 1;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__secondary {
    display: flex;
    justify-content: space-between;
}
