.weather {
    padding: var(--weather-padding);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-bg-card);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.weather__footer {
    margin-top: 0.5rem;
}

.weather__primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__secondary {
    display: flex;
    justify-content: space-between;
}
