.weather-icon {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.weather-icon:hover {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.weather__stat {
    display: flex;
    gap: 0.25rem;
}

.weather__icon {
    display: block;
    background: no-repeat center;
}

.weather__secondary .weather__icon {
    width: 2.5rem;
    height: 2.5rem;
}

.weather__icon--wind {
    background-image: url(../../../public/assets/weather-icons/line/animation/wind.svg);
    background-size: calc(100% + 0.875rem);
}

.weather__icon--humidity {
    background-image: url(../../../public/assets/weather-icons/fill/animated/humidity.svg);
    background-size: calc(100% + 1.875rem);
}

.weather__icon--precipitation {
    background-image: url(../../../public/assets/weather-icons/fill/animated/rain.svg);
    background-size: calc(100% + 1rem);
}

.weather__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.weather__measurement {
    display: flex;
    align-items: baseline;
    gap: 0.15rem;
    justify-content: center;
}

.weather__measurement .slash {
    margin-right: 0.25rem;
}

.weather__value {
    font-weight: 500;
    text-align: left;
}

.weather__value {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    color: var(--text-o1);
}

.weather__unit {
    font-size: 1em;
    line-height: 1em;
    height: 1em;
    color: var(--text-o2);
}

.weather__label {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: var(--text-o2);
    margin-bottom: 0.25em;
}

.weather__range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.weather__stat--temperature {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.weather__range .weather__label {
    font-size: 0.75em;
    line-height: 0.75em;
    color: var(--text-o2);
}

.weather__range .weather__value {
    font-size: 1em;
    line-height: 1em;
    color: var(--text-o1);
}

.weather__range .weather__unit {
    font-size: 0.5em;
}

.weather__stat--code .weather__measurement {
    position: relative;
    display: flex;
}

.weather__icon--code {
    background-image: url(../../../public/assets/weather-icons/fill/animated/thunderstorms-day-rain.svg);
    height: 8rem;
    width: 8rem;
    background-size: calc(100% + 0.5rem);
    background-position: center;
}
