

.weather__city {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
}

.weather__city::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: var(--color-primary);
    background-image: var(--location-pin);
    background-repeat: no-repeat;
    background-position: center;
    filter: hue-rotate(var(--location-pin-hue, 0deg));
}