.card {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* .card__header {
}

.card__body {

}
.card__footer {
    
} */

.card--forecast {
    background: var(--wc-forecast-bg-gradient);
    color: white;
}
