* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-primary);
    color: var(--color-text-item);
    font-family: var(--font-primary);
}

body {
    overflow-x: hidden;
}
